{% block header %}
    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="#" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a>
                <a href="#" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="sub-title">

                <ul>
                    <li><a href="#"><div>Accueil</div></a></li>
                    <li class="current"><a href="#"><div>Conception de jardins</div></a>
                        <ul>
                            <li><a href="#"><div><i class="icon-stack"></i>Particuliers</div></a></li>
                            <li><a href="#"><div><i class="icon-stack"></i>Professionnels</div></a></li>
                            <li><a href="questionnaire-particuliers"><div><i class="icon-stack"></i>Questionnaire en ligne</div></a></li>
                        </ul>
                    </li>
                    <li class="mega-menu"><a href="#"><div>Le catalogue</div></a>
                        <div class="mega-menu-content style-2 clearfix">
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="#"><div>Les ambiances</div></a>
                                    <ul>
                                        <li><a href="jardin-hispano-mauresque"><div>Jardin hispano-mauresque</div></a></li>
                                        <li><a href="about-2.html"><div>Jardin méditerranéen</div></a></li>
                                        <li><a href="about-me.html"><div>Jardin oriental - zen</div></a></li>
                                        <li><a href="team.html"><div>Jardin exotique</div></a></li>
                                        <li><a href="jobs.html"><div>Jardin médiéval</div></a></li>
                                        <li><a href="side-navigation.html"><div>Jardin anglais mixed-border romantique</div></a></li>
                                        <li><a href="page-submenu.html"><div>Jardin contemporain-moderne</div></a></li>
                                        <li><a href="sitemap.html"><div>Jardin à la française</div></a></li>
                                        <li><a href="sitemap.html"><div>Jardin d'ombre</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="#"><div>Les lieux</div></a>
                                    <ul>
                                        <li><a href="services.html"><div>Balcon</div></a></li>
                                        <li><a href="services-2.html"><div>Terrasse</div></a></li>
                                        <li><a href="services-3.html"><div>Aménagement de piscine</div></a></li>
                                        <li><a href="faqs.html"><div>Massif</div></a></li>
                                        <li><a href="faqs-2.html"><div>Potager</div></a></li>
                                        <li><a href="faqs-3.html"><div>Jardin en ville</div></a></li>
                                        <li><a href="faqs-4.html"><div>Jardin de bourg</div></a></li>
                                        <li><a href="maintenance.html"><div>Jardin de campagne</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-md-4">
                                <li class="mega-menu-title"><a href="#"><div>La philosophie</div></a>
                                    <ul>
                                        <li><a href="full-width.html"><div>Jardin conventionnel</div></a></li>
                                        <li><a href="full-width-wide.html"><div>Jardin écologique</div></a></li>
                                        <li><a href="right-sidebar.html"><div>Jardin de la récup</div></a></li>
                                        <li><a href="left-sidebar.html"><div>Permaculture</div></a></li>
                                        <li><a href="both-sidebar.html"><div>Permaculture</div></a></li>
                                        <li><a href="both-right-sidebar.html"><div>Potager bio</div></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="index.html"><div>Les tarifs</div></a></li>
                    <li><a href="index.html"><div>Contacts</div></a></li>
                    <li><a href="index.html"><div>Blog</div></a></li>

                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>
{% endblock %}
