{% extends 'base.html.twig' %}

{% block pagetitle %}
    <section id="page-title">
        <div class="container clearfix">
            <h1>{{ datas.title }}</h1>
            <span>{{ datas.subtitle }}</span>
        </div>
    </section>

{% endblock %}

{% block content %}

    <div class="col_full nobottommargin">
        {#<div class="fancy-title title-border">#}
        {#<h4>Gallery</h4>#}
        {#</div>#}

        <div class="masonry-thumbs col-4 clearfix" data-lightbox="gallery" style="width: 100.3%;">
            {% for file in files %}
                <a href="{{ asset('media/' ~ datas.type ~ '/' ~ datas.code ~ '/' ~ file) }}" data-lightbox="gallery-item">
                    <img class="image_fade" src="{{ asset('media/' ~ datas.type ~ '/' ~ datas.code ~ '/' ~ file) }}" alt="Gallery Thumb 1" data-animate="zoomIn" />
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}