{% extends 'base.html.twig' %}

{% block content %}

    {% for message in app.flashes('success') %}
        <div class="style-msg successmsg">
            <div class="sb-msg"><i class="icon-thumbs-up"></i>{{ message }}</div>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    {% endfor %}

    <section id="map-overlay" style="background-color:#F9F9F9">

        <div class="container clearfix">

            <!-- Contact Form Overlay
            ============================================= -->
            <div id="contact-form-overlay" class="clearfix">

                <div class="fancy-title title-dotted-border">
                    <h3>Questionnaire - Prise de contact</h3>
                    <p>Pour toute demande, n'hésitez pas à me contacter au <span style="font-size:120%; font-weight:bold">07 72 43 27 00</span> ou par mail à <span style="font-size:120%; font-weight:bold">laurenpaysage@gmail.com</span> ou encore en remplissant le formulaire ci-dessous. Je vous répondrais dans les meilleurs délais.</p>
                    <p>Pour vos projets dans les départements 44, 49, 85, je me déplace gratuitement dans un rayon de 30km autour de Gorges. Alors n'hésitez pas à prendre rendez-vous pour votre devis d'étude paysagère.</p>
                </div>

                <div>



                </div>
<div class="postcontent">
                <div class="contact-widget customjs">

                    <div class="contact-form-result"></div>

                    <!-- Contact Form
                    ============================================= -->
                    <form class="nobottommargin" id="template-contactform" name="template-contactform" action="{{ path('contactSave') }}" method="post">

                        <input type="hidden" name="source" value="contact-page"/>
                        <div class="form-process"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Nom</label>
                            <input type="text" id="template-contactform-firstname" name="template-contactform-firstname" value="" class="sm-form-control" />
                        </div>
                        <div class="col_half col_last">
                            <label for="template-contactform-name">Prénom</label>
                            <input type="text" id="template-contactform-lastname" name="template-contactform-lastname" value="" class="sm-form-control" />
                        </div>



                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-email">Email <small>*</small></label>
                            <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-phone">Téléphone</label>
                            <input type="text" id="template-contactform-telephone" name="template-contactform-telephone" value="" class="sm-form-control" />
                        </div>

                        <div class="clear"></div>

                        <div class="col_full">
                            <label for="template-contactform-subject">Sujet <small>*</small></label>
                            <input type="text" id="template-contactform-subject" name="template-contactform-subject" value="" class="required sm-form-control" />
                        </div>

                        <div class="col_full">
                            <label for="template-contactform-message">Message <small>*</small></label>
                            <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
                        </div>

                        <div class="col_full hidden">
                            <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                        </div>

                        <div class="col_full">
                            <button class="button button-3d nomargin fright" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Envoyer mon message</button>
                        </div>

                    </form>
                </div>
</div>
                <div class="clear"></div>
                <div class="line"></div>
                <!-- Contact Info
                ============================================= -->
                <div class="col_one_third nobottommargin">

                    <address>
                        <strong>Laurence BAZEAU</strong><br>
                        La fabrique de jardins<br>
                        17, rue de l'Aubépin<br>
                        44190 GORGES<br>
                    </address>
                    <strong>Téléphone :&nbsp;</strong>07 72 43 27 00<br>
                    <strong>Email :&nbsp;</strong>laurenpaysage@gmail.com



                </div><!-- Contact Info End -->

                <div class="col_two_third nobottommargin col_last">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2716.0089616882137!2d-1.2984402846194896!3d47.09889497915416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4806757adc747d2f%3A0x70f3be03c8ee8465!2s17+Rue+de+l&#39;Aub%C3%A9pin%2C+44190+Gorges!5e0!3m2!1sfr!2sfr!4v1521913456757" width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div><!-- Contact Info End -->

            </div><!-- Contact Form Overlay End -->

        </div>

    </section><!-- Contact Form & Map Overlay Section End -->


{% endblock %}