{% extends 'base.html.twig' %}

{% block content %}

    <div class="row clearfix">

        <form id="billing-form" name="billing-form" class="nobottommargin" action="#" method="post">

            <div class="col-md-6">
                <h3>Vos coordonnées</h3>

                <div class="col_half">
                    <label for="billing-form-name">Nom</label>
                    <input type="text" id="client-name" name="billing-form-name" value="" class="sm-form-control" />
                </div>

                <div class="col_half col_last">
                    <label for="billing-form-lname">Prénom</label>
                    <input type="text" id="billing-form-lname" name="billing-form-lname" value="" class="sm-form-control" />
                </div>

                <div class="clear"></div>

                <div class="col_half">
                    <label for="billing-form-name">Téléphone fixe</label>
                    <input type="text" id="billing-form-name" name="billing-form-name" value="" class="sm-form-control" />
                </div>

                <div class="col_half col_last">
                    <label for="billing-form-lname">Portable</label>
                    <input type="text" id="billing-form-lname" name="billing-form-lname" value="" class="sm-form-control" />
                </div>

                <div class="clear"></div>

                <div class="col_full">
                    <label for="billing-form-companyname">Email</label>
                    <input type="text" id="billing-form-companyname" name="billing-form-companyname" value="" class="sm-form-control" />
                </div>

                <div class="col_full">
                    <label for="billing-form-address">Adresse</label>
                    <input type="text" id="billing-form-address" name="billing-form-address" value="" class="sm-form-control" />
                </div>

                <div class="col_full">
                    <input type="text" id="billing-form-address2" name="billing-form-adress" value="" class="sm-form-control" />
                </div>

                <div class="col_two_third">
                    <label for="billing-form-city">Ville</label>
                    <input type="text" id="billing-form-city" name="billing-form-city" value="" class="sm-form-control" />
                </div>
                <div class="col_one_third col_last">
                    <label for="billing-form-city">Code postal</label>
                    <input type="text" id="billing-form-city" name="billing-form-city" value="" class="sm-form-control" />
                </div>

                <div class="clear"></div>

                <div class="col_full">
                    <label for="shipping-form-address">Votre demande</label>
                    <textarea class="sm-form-control" id="shipping-form-message" name="shipping-form-message" rows="6" cols="30"></textarea>
                </div>

                <div class="col_full">
                    <button class="button button-aqua button-3d">Envoyer</button>
                </div>

            </div>

        </form>
    </div>
    <div class="clear bottommargin"></div>
    </div>


{% endblock %}