<div class="col_one_third">
    <label for="formjardin_place">
        Utilisation du jardin
    </label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <label>
                    <input type="radio" id="usage_princ" name="formjardin_place"/>
                    <span> Maison principale</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="usage_vacan" name="formjardin_place"/>
                    <span> Maison de vacances</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="usage_locat" name="formjardin_place"/>
                    <span> Locations</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="usage_burea" name="formjardin_place"/>
                    <span> Bureau</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col_one_third col_last">
    <label for="formjardin_place">
        Nombre d'habitants
    </label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <div class="col_one_third">
                    <label>
                        <span> Nombre d'adultes</span>
                        <input type="text" id="nb_adultes" name="formjardin_place"/>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <span> Nombre d'enfants</span>
                        <input type="text" id="nb_enfants" name="formjardin_place"/>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col_full">
    <label for="formjardin_place">
        Cochez les éléments que vous désirez implanter dans votre jardin&nbsp;:
    </label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <div class="col_one_third">
                    <label>
                        <input type="checkbox" id="elements_pisci" name="formjardin_place"/>
                        <span> Piscine</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_terra" name="formjardin_place"/>
                        <span> Terrasse</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_clotu" name="formjardin_place"/>
                        <span> Clôture</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_haie" name="formjardin_place"/>
                        <span> Haie</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_ecran" name="formjardin_place"/>
                        <span> Écrans, pare-vue</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_barbe" name="formjardin_place"/>
                        <span> Barbecue</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_potag" name="formjardin_place"/>
                        <span> Potager</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_verge" name="formjardin_place"/>
                        <span> Verger</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_gazon" name="formjardin_place"/>
                        <span> Aire de jeux (gazon)</span>
                    </label>
                </div>
                <div class="col_one_third">
                    <label>
                        <input type="checkbox" id="elements_pergo" name="formjardin_place"/>
                        <span> Pergolas</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_parki" name="formjardin_place"/>
                        <span> Parking</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_bassi" name="formjardin_place"/>
                        <span> Bassin, point d’eau</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_cuve" name="formjardin_place"/>
                        <span> Cuve de récupération d’eau de pluie</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_eclai" name="formjardin_place"/>
                        <span> Éclairage</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_feu" name="formjardin_place"/>
                        <span> Coin feu - barbecue</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_abri" name="formjardin_place"/>
                        <span> Abri, rangement</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_jeux" name="formjardin_place"/>
                        <span> Aire de jeux (balançoire, toboggan…)</span>
                    </label>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col_two_third">
    <label for="elements_comments">Vous pouvez précisez, ou rajouter des éléments ici&nbsp;:</label>
    <textarea rows="4" id="elements_comments" class="form-control" placeholder="Commentaires"></textarea>
    <a href="#" class="button button-3d fright tab-linker right" rel="2" onclick="activateTab(4)">ETAPE SUIVANTE</a>
    <a href="#" class="button button-3d fright tab-linker left" rel="2" onclick="activateTab(2)">ETAPE PRECEDENTE</a>

</div>
