<h3 class="">Utilisation du jardin</h3>

<div class="col_one_third">
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <label>
                    <input type="checkbox" name="formjardin_place"/>
                    <span> Maison principale</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox"  name="formjardin_place"/>
                    <span> Maison de vacances</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox"  name="formjardin_place"/>
                    <span> Locations</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox"  name="formjardin_place"/>
                    <span> Bureau</span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="col_two_third col_last">
    <div class="col_half">
        <label for="billing-form-companyname">Nombre d'adultes</label>
        <input type="text" id="billing-form-companyname" name="billing-form-companyname" value="" class="sm-form-control" />
    </div>
    <div class="col_half col_last">
        <label for="billing-form-companyname">Nombre d'enfants</label>
        <input type="text" id="billing-form-companyname" name="billing-form-companyname" value="" class="sm-form-control" />
    </div>
</div>

<div class="col_full">
    <label>Combien de temps souhaitez-vous consacrer à votre jardin ?</label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <label>
                    <input type="checkbox" name="formjardin_place"/>
                    <span> 1 à 3h par semaine</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox"  name="formjardin_place"/>
                    <span> 4 à 10h par semaine</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox"  name="formjardin_place"/>
                    <span> 1 à 3h par mois</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox"  name="formjardin_place"/>
                    <span> 3 à 10h par mois</span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
