<h3>Les éléments structurants</h3>

<div class="col_full">
    <label for="shipping-form-address">Quels sont les éléments que vous désirez implanter dans votre jardin : </label>
    <textarea class="sm-form-control" id="shipping-form-message" name="shipping-form-message" rows="6" cols="30"></textarea>
</div>

<div class="col_full">
    <label>Photos initiales</label>
    <div class="clear"></div>
    <button class="button button-3d button-aqua">Upload</button>
</div>

<div class="col_full">
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <div class="col_one_third">
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Piscine</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Terrasse</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Clôture</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Haie</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Écrans, pare-vue</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Barbecue</span>
                    </label>
                </div>
                <div class="col_one_third">
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Potager</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Aire de jeux (gazon)</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Aire de jeux (balançoire, toboggan…)</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Pergolas</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Parking</span>
                    </label>
                </div>
                <div class="col_one_third col_last">
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Bassin, point d’eau</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Cuve de récupération d’eau de pluie</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Éclairage</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Coin feu - barbecue</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Abri, rangement</span>
                    </label>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

