<div class="col_full">
    <label for="formjardin_place">
        Choisissez le style de votre jardin (choix multiples possibles à partir de 50m²).<br />
        N'hésitez pas à regarder le guide de conception de jardins pour déterminer vos préférences.</label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <div class="col_one_third">
                    <label>
                        <input type="checkbox" id="ambiance_medit" name="ambiance_medit"/>
                        <span> Méditéranéenne</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="ambiance_breto" name="ambiance_breto"/>
                        <span> Bretonne - Bord de mer</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="ambiance_ombre" name="ambiance_ombre"/>
                        <span> À l'ombre</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="ambiance_hispa" name="ambiance_hispa"/>
                        <span> Hispano-mauresque</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="ambiance_japon" name="ambiance_japon"/>
                        <span> Japonaise - Zen</span>
                    </label>
                </div>
                <div class="col_one_third">
                    <label>
                        <input type="checkbox" id="ambiance_exoti" name="ambiance_exoti"/>
                        <span> Exotique - Tropicale</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="ambiance_medie" name="ambiance_medie"/>
                        <span> Médiévale</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="ambiance_roman" name="ambiance_roman"/>
                        <span> Romantique - Anglais</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="ambiance_natur" name="ambiance_natur"/>
                        <span> Naturelle - Champêtre</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="ambiance_autre" name="ambiance_autre"/>
                        <span> Autres</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col_two_third">
    <label for="ambiances_comments">Ici, vous avez la possibilité de décrire vos envies : les couleurs, les végétaux, les matériaux que vous aimez et que vous n'aimez pas...</label>
    <textarea rows="4" id="ambiances_comments" name="ambiance_comments" class="form-control" placeholder="Commentaires"></textarea>
    <a href="#" class="button button-3d fright tab-linker right" rel="2" onclick="activateTab(2)">ETAPE SUIVANTE</a>
    <a href="#" class="button button-3d fright tab-linker left" rel="2" onclick="activateTab(0)">ETAPE PRECEDENTE</a>

</div>