<h2>Vos réponses vont déterminer le type de plantes et la tracé de votre jardin</h2>
<div class="col_two_third">
    <label for="formjardin_place">
        Quel système d'arrosage utilisez-vous&nbsp;?
    </label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <label>
                    <input type="checkbox" id="arrosage_potab" name="arrosage_potab"/>
                    <span> Eau potable</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox" id="arrosage_source" name="arrosage_source"/>
                    <span> Eau de source/puit</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox" id="arrosage_pluie" name="arrosage_pluie"/>
                    <span> Eau de pluie</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col_two_third">
    <label for="formjardin_place">
        Combien de temps souhaitez-vous consacrer à l'entretien de votre jardin&nbsp;?
    </label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <label>
                    <input type="radio" id="semaine_1_3" name="formjardin_place"/>
                    <span> 1 à 3h par semaine</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="semaine_4_10" name="formjardin_place"/>
                    <span> 4 à 10h par semaine</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="mois_3_10" name="formjardin_place"/>
                    <span> 3 à 10h par mois</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="mois_1_3" name="formjardin_place"/>
                    <span> 1 à 3h par mois</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col_two_third">
    <label>
        <input type="checkbox" id="option_guide_entretien" name="option_guide_entretien" />
        <span><u>En option:</u> Je réalise le <strong>guide d'entretien</strong> de votre jardin</span>
    </label>
    <span>TARIF (todo)</span>
</div>
<div class="col_two_third">
    <a href="#" class="button button-3d fright tab-linker left" rel="2">ETAPE PRECEDENTE</a>
    <a href="#" class="button button-3d fright tab-linker right" rel="2">ETAPE SUIVANTE</a>
</div>
