<h3 class="">Votre jardin initial</h3>

<div class="col_half">
    <label for="formjardin_place">Type de lieu à aménager (cochez la case correspondante)</label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <label>
                    <input type="checkbox" name="formjardin_place"/>
                    <span> Balcon</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox"  name="formjardin_place"/>
                    <span> Terrasse</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox"  name="formjardin_place"/>
                    <span> Jardin</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox"  name="formjardin_place"/>
                    <span> Potager</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="checkbox"  name="formjardin_place"/>
                    <span> Massif</span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="col_full">
    <h4>Vous avez la possibilité de nous transmettre un plan inital et d'y mentionner ces informations</h4>
</div>

<div class="col_half">
    <div class="col_full">
        <label for="shipping-form-companyname">Surface du terrain à aménager (en m²)</label>
        <input type="text" id="shipping-form-companyname" name="shipping-form-companyname" value="" class="sm-form-control" />
    </div>
    <div class="col_full">
        <label for="shipping-form-lname">N° Cadastre (si possible)</label>
        <input type="text" id="shipping-form-lname" name="shipping-form-lname" value="" class="sm-form-control" />
    </div>
    <div class="col_full">
        <label for="shipping-form-lname">Type de sol</label>
        <select class="sm-form-control">
            <option value="">Sol 1</option>
            <option value="">Sol 2</option>
            <option value="">Sol 3</option>
        </select>
    </div>
    <div class="col_full">
        <label for="shipping-form-lname">Dénivelé - sens de la pente</label>
        <input type="text" id="shipping-form-lname" name="shipping-form-lname" value="" class="sm-form-control" />
    </div>
</div>
<div class="col_half col_last">
    <div class="col_full">
        <label>Photos initiales</label>
        <div class="clear"></div>
        <button class="button button-3d button-aqua">Upload</button>
    </div>
    <div class="col_full">
        <label>Plan de masse / croquis de l'existant à l'échelle de préférence</label>
        <div class="clear"></div>
        <button class="button button-3d button-aqua">Upload</button>
    </div>
</div>

<div class="clear"></div>
