<div class="col_half">
    <label for="formjardin_place">Choisissez le lieu et la surface à aménager</label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <label>
                    <input type="radio" id="massif_0-25" value="massif_0-25" name="choix_surface" onclick="calcTarif()"/>
                    <span> Massif 0 à 25m²</span>
                    <span class="price">95 €</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="massif_26-50" value="massif_26-50" name="choix_surface" onclick="calcTarif()"/>
                    <span> Massif 26 à 50m²</span>
                    <span class="price">190 €</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="balcon_terrasse_0-25" value="balcon_terrasse_0-25" name="choix_surface" onclick="calcTarif()"/>
                    <span> Balcon Terrasse 0 à 25m²</span>
                    <span class="price">95 €</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="balcon_terrasse_26-50" value="balcon_terrasse_26-50" name="choix_surface" onclick="calcTarif()"/>
                    <span> Balcon Terrasse 26 à 50m²</span>
                    <span class="price">190 €</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="potager_0-25" value="potager_0-25" name="choix_surface" onclick="calcTarif()"/>
                    <span> Potager 0 à 25m²</span>
                    <span class="price">95 €</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="potager_26-50" value="potager_26-50" name="choix_surface" onclick="calcTarif()"/>
                    <span> Potager 26 à 50m²</span>
                    <span class="price">190 €</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="jardin_ville" value="jardin_ville" name="choix_surface" onclick="calcTarif()"/>
                    <span> Jardin de ville 51 à 250m²</span>
                    <span class="price">380 €</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="jardin_bourg" value="jardin_bourg" name="choix_surface" onclick="calcTarif()"/>
                    <span> Jardin de bourg 251 à 500m²</span>
                    <span class="price">760 €</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="jardin_campagne" value="jardin_campagne" name="choix_surface" onclick="calcTarif()"/>
                    <span> Jardin de campagne 501 à 800m²</span>
                    <span class="price">1140 €</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="surface_sup" value="surface_sup" name="choix_surface" onclick="calcTarif()"/>
                    <span> Très grands jardins Supérieurs à 800m² Nous consulter</span>
                </label>
            </div>
        </div>
        <label>
            <input type="checkbox" id="option_3D" name="option_3D" onclick="calcTarif()"/>
            <span><u>En option:</u> Une <strong>mise en forme 3D</strong> de votre projet</span>
        </label>
        <span id="option_3D_price" class="price"></span>
    </div>
</div>
<div class="col_two_third">
    <a href="#" class="button button-3d fright tab-linker right" rel="2" onclick="activateTab(1)">ETAPE SUIVANTE</a>
</div>