<div class="col_one_third">
    <label for="formjardin_place">
        Utilisation du jardin
    </label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <label>
                    <input type="radio" id="usage_princ" name="formjardin_place" value="maison_principale"/>
                    <span> Maison principale</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="usage_vacan" name="formjardin_place" value="maison_vacance"/>
                    <span> Maison de vacances</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="usage_locat" name="formjardin_place" value="location"/>
                    <span> Locations</span>
                </label>
                <div class="clear"></div>
                <label>
                    <input type="radio" id="usage_burea" name="formjardin_place" value="bureau"/>
                    <span> Bureau</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="col_one_third col_last">
    <label for="formjardin_place">
        Nombre d'habitants
    </label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <div class="col_one_third">
                    <label>
                        <span> Nombre d'adultes</span>
                        <input type="text" id="nb_adultes" name="nb_adultes"/>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <span> Nombre d'enfants</span>
                        <input type="text" id="nb_enfants" name="nb_enfants"/>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col_full">
    <label for="formjardin_place">
        Cochez les éléments que vous désirez implanter dans votre jardin&nbsp;:
    </label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <div class="col_one_third">
                    <label>
                        <input type="checkbox" id="elements_piscine" name="elements_piscine"/>
                        <span> Piscine</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_terrasse" name="elements_terrase"/>
                        <span> Terrasse</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_cloture" name="elements_cloture"/>
                        <span> Clôture</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_haie" name="elements_haie"/>
                        <span> Haie</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_ecrans" name="elements_ecrans"/>
                        <span> Écrans, pare-vue</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_barbecue" name="elements_barbecue"/>
                        <span> Barbecue</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_potager" name="elements_potager"/>
                        <span> Potager</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_verger" name="elements_verger"/>
                        <span> Verger</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_gazon" name="elements_gazon"/>
                        <span> Aire de jeux (gazon)</span>
                    </label>
                </div>
                <div class="col_one_third">
                    <label>
                        <input type="checkbox" id="elements_pergolas" name="elements_pergolas"/>
                        <span> Pergolas</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_parking" name="elements_parking"/>
                        <span> Parking</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_bassin" name="elements_bassin"/>
                        <span> Bassin, point d’eau</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_cuve" name="elements_cuve"/>
                        <span> Cuve de récupération d’eau de pluie</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_eclairage" name="elements_eclairage"/>
                        <span> Éclairage</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_feu" name="elements_feu"/>
                        <span> Coin feu - barbecue</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_abri" name="elements_abri"/>
                        <span> Abri, rangement</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox" id="elements_jeux" name="elements_jeux"/>
                        <span> Aire de jeux (balançoire, toboggan…)</span>
                    </label>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col_two_third">
    <label for="elements_comments">Vous pouvez précisez, ou rajouter des éléments ici&nbsp;:</label>
    <textarea rows="4" id="elements_comments" name="elements_comments" class="form-control" placeholder="Commentaires"></textarea>
    <a href="#" class="button button-3d fright tab-linker right" rel="2" onclick="activateTab(4)">ETAPE SUIVANTE</a>
    <a href="#" class="button button-3d fright tab-linker left" rel="2" onclick="activateTab(2)">ETAPE PRECEDENTE</a>
</div>
