<h3>Vos envies</h3>

<div class="col_full">
    <label for="shipping-form-address">Décrivez-nous vos envies : le style de jardin que vous souhaitez, les matériaux, les végétaux, les couleurs, ...</label>
    <textarea class="sm-form-control" id="shipping-form-message" name="shipping-form-message" rows="6" cols="30"></textarea>
</div>

<div class="col_full">
    <label>Votre budget pour les travaux de réalisation de votre projet  de jardin (Cette fourchette va déterminer le choix des matériaux à mettre en place)</label>
    <input type="text" id="shipping-form-address2" name="shipping-form-adress" value="" class="sm-form-control" />
</div>

<div class="col_full">
    <label for="formjardin_place">Type de lieu à aménager (cochez la case correspondante)</label>
    <div class="control-group form-group">
        <div class="editable-input">
            <div class="editable-checklist">
                <div class="col_one_third">
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Jardin hispano - mauresque</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Jardin méditerranéen</span>
                    </label>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Jardin oriental - zen</span>
                    </label>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Jardin exotique</span>
                    </label>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Jardin médiéval</span>
                    </label>
                </div>
                <div class="col_one_third">
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Jardin anglais-mixed border-romantique</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Jardin contemporain-moderne</span>
                    </label>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Jardin à la française</span>
                    </label>
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Jardin d’ombre</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Jardin conventionnel</span>
                    </label>
                </div>
                <div class="col_one_third col_last">
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Jardin écologique</span>
                    </label>
                    <div class="clear"></div>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Jardin de la récup</span>
                    </label>
                    <label>
                        <input type="checkbox"  name="formjardin_place"/>
                        <span> Permaculture</span>
                    </label>
                    <label>
                        <input type="checkbox" name="formjardin_place"/>
                        <span> Potager bio</span>
                    </label>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>