{% extends 'base.html.twig' %}

{% block pagetitle %}
    <section id="page-title">
        <div class="container clearfix">
            <h1>Commande d'étude de jardin</h1>
            <span>Choisissez le lieu du projet ainsi que la surface, et remplissez le questionnaire qui définira votre projet.</span>
        </div>
    </section>
{% endblock %}

{% block content %}

    <div class="container clearfix">
        <form id="billing-form" name="billing-form" class="nobottommargin" action="{{ path('payment') }}" method="post">
            <div class="col_three_fourth">
                <div id="tabs" class="tabs clearfix" data-speed="700" data-active="1">
                    <ul class="tab-nav clearfix">
                        <li>
                            <a href="#tab-1">Surface</a>
                            {#<h5>Vos espace à aménager</h5>#}
                        </li>
                        <li>
                            <a href="#tab-2" class="">Ambiance</a>
                            {#<h5>Les ambiances</h5>#}
                        </li>
                        <li>
                            <a href="#tab-3" class="">Philosophie</a>
                            {#<h5>La philosophie</h5>#}
                        </li>
                        <li>
                            <a href="#tab-4" class="">Utilisation</a>
                            {#<h5>Utilisation du jardin</h5>#}
                        </li>
                        <li>
                            <a href="#tab-5" class="">Travaux</a>
                            {#<h5>Les travaux</h5>#}
                        </li>
                        <li>
                            <a href="#tab-6" class="">Entretien</a>
                            {#<h5>L'entretien</h5>#}
                        </li>
                        <li>
                            <a href="#tab-7" class="">Coordonnées</a>
                            {#<h5>Coordonnées</h5>#}
                        </li>
                    </ul>

                    <div class="tab-container">

                        <div id="tab-1" class="tab-content clearfix">
                            {% include 'forms/form-etape1.html.twig' %}
                        </div>
                        <div id="tab-2" class="tab-content clearfix">
                            {% include 'forms/form-etape2.html.twig' %}
                        </div>
                        <div id="tab-3" class="tab-content clearfix">
                            {% include 'forms/form-etape3.html.twig' %}
                        </div>
                        <div id="tab-4" class="tab-content clearfix">
                            {% include 'forms/form-etape4.html.twig' %}
                        </div>
                        <div id="tab-5" class="tab-content clearfix">
                            {% include 'forms/form-etape5.html.twig' %}
                        </div>
                        <div id="tab-6" class="tab-content clearfix">
                            {% include 'forms/form-etape6.html.twig' %}
                        </div>
                        <div id="tab-7" class="tab-content clearfix">
                            {% include 'forms/form-etape7.html.twig' %}
                        </div>

                    </div>



                </div>
            </div>
            <div class="col_one_fourth col_last" style="border: thin solid lightgrey; padding: 0px">
                <h3 style="background-color: lightgrey; color: white; padding: 10px; text-align: center;">RECAPITULATIF DE LA COMMANDE</h3>
                <h4 style="padding: 10px;"><span id="recapSurface"></span></h4>
                <div style="padding: 10px;"><ul id="recapOptions"></ul></div>
                <div style="padding: 10px;">TOTAL : <span id="tarif" class="price">0 €</span></div>

                <input type="hidden" name="tarif" id="sMontant" value="" />
            </div>
            <div class="clear bottommargin"></div>
        </form>
    </div>

{% endblock %}