{% extends 'base.html.twig' %}

{% block content %}

    <div class="row clearfix">

        <form id="billing-form" name="billing-form" class="nobottommargin" action="#" method="post">

            <div class="col-md-6">
                {% include 'forms/form-coordonnees.html.twig' %}
            </div>
            <div class="col-md-6">
                {% include 'forms/form-jardin-initial.html.twig' %}
            </div>
            <div class="col-md-6">
                {% include 'forms/form-envies.html.twig' %}
            </div>
            <div class="col-md-6">
                {% include 'forms/form-elements.html.twig' %}
            </div>
            <div class="col-md-6">
                {% include 'forms/form-utilisation-jardin.html.twig' %}
            </div>
        </form>
    </div>
    <div class="clear bottommargin"></div>
    </div>


{% endblock %}