{% extends 'base.html.twig' %}

{% block content %}

    <h1>LE CONCEPT</h1>

<p>Vous rêvez d’aménager un coin de verdure selon vos goûts et vos envies : un jardin naturel ou structuré, un jardin fruitier ou potager, une nouvelle pièce à part entière de votre maison pour se détendre, jouer, recevoir ou simplement pour le plaisir des yeux.
    Je vous propose une méthode simple et rapide pour définir vos besoins et préciser vos envies dans la conception de votre jardin, balcon, terrasse…Vous obtiendrez ainsi une étude sur mesure au meilleur prix et cela de chez vous !</p>

<h2>OSEZ IMAGINER LE JARDIN DE VOS REVES !</h2>
    <p>Vous parcourez les différentes ambiances, inspirations et philosophies de jardin que je propose sur le site (rubrique : conception de jardin (lien)).</p>

<h2>TRANQUILLEMENT DE CHEZ VOUS</h2>
    <p>Puis, devenez acteur de votre projet en remplissant le questionnaire en ligne (lien) au moment qui vous convient.</p>

<h2>UNE ETUDE PERSONNALISÉE A PRIX ABORDABLE</h2>
    <p>Grâce à différentes formules que je propose vous adaptez votre projet à votre budget.</p>

<p>Vous recevez ensuite un dossier complet vous permettant de réaliser à votre rythme vos travaux ou confier ceux-ci à une entreprise d’espaces verts.<br />
    Bien entendu, tout au long de votre étude et même après, je reste à votre écoute pour des conseils complémentaires.</p>


<h2>ALORS SUIVEZ CES ÉTAPES ET LAISSER VOUS GUIDER</h2>

    <h3>1 - CHOISISSEZ VOTRE TYPE DE JARDIN</h3>
    <p>Parcourez le guide de conception de jardins (lien) à la recherche de votre jardin idéal.</p>

    <h3>2 - REMPLISSEZ LE QUESTIONNAIRE</h3>
    <p>Le questionnaire (lien) vous aidera à définir votre projet plus précisément</p>

    <h3>3 - PASSER COMMANDE</h3>
<p>Pour le démarrage de votre étude, vous devez choisir votre formule et vos options et passer commande.<br />
    Vous retrouvez toutes les informations nécessaires dans la rubrique tarifs (lien)</p>

    <h3>4 - TRANSMISSION DES DOCUMENTS ET ENTRETIEN TELEPHONIQUE</h3>
<p>Vous me transmettez via le site, par mail ou courrier les éléments de base dont j'ai besoin pour réaliser votre étude (Plan ou croquis initiales, photos...) (Il serait bien de rajouter une rubrique : TRANSMISSION DES INFORMATIONS dans LA FABRIQUE DE JARDINS)<br />
    A cette étape, je vous contacte afin de faire le point avant de commencer votre projet.</p>

    <h3>5 - L'AVANT PROJET -  UNE ETAPE CLEF</h3>
    <p>Une fois les éléments transmis et la commande passée, je vous transmets une 1ère étude et nous discutons ensemble des modifications possibles.</p>

    <h3>6 - ENVOI DE VOTRE PROJET DÉFINITIF</h3>
    <p>Suite à la mise au point de l'avant-projet, je vous transmets votre étude définitive modifiée.</p>


<p>Tout au long de ces étapes je suis à votre écoute par mail (adresse mail du site) ou téléphone 02 40 69 42 02 pour répondre à toutes vos questions.</p>



<p>Pour toute commande, vous recevez un dossier complet comprenant :</p>
<ul>
    <li>Un état des lieux de votre projet</li>
    <li>Une notice de présentation accompagnée d'un plan de zonage</li>
    <li>Un plan masse</li>
    <li>Un plan des revêtements et les métrés correspondants</li>
    <li>Un plan de plantation</li>
    <li>Un livret des matériaux, croquis, textures et ambiances</li>
</ul>

    <p>En option, vous pouvez choisir :</p>
<ul>
    <li>La mise en forme 3D du projet</li>
    <li>Une notice explicative des travaux par poste</li>
    <li>La mise en relation avec une entreprise d'espaces verts</li>
    <li>La notice d'entretien de votre jardin</li>
    <li>L'envoi par courrier de votre dossier au format A3</li>
</ul>
Retrouver toutes les informations nécessaires pour passer commande dans la rubrique Tarifs (lien)

{% endblock %}