{% extends 'base.html.twig' %}

{% block content %}

<h1>VALORISER VOS PROJETS ET DÉCROCHEZ DE NOUVEAUX CONTRATS</h1>

<p>Professionnels, vous n'avez pas toujours le temps et les moyens de proposer des études paysagères complètes à vos clients.</p>

<h2>ÉLARGISSEZ VOTRE OFFRE</h2>

<p>Je vous propose d'externaliser votre bureau d'études et vous permet d'offrir un service de qualité à votre clientèle.</p>
<p>Je m'adapte à votre demande et conçoit selon vos besoins, un plan, une conception en 3D, une étude complète ou seulement la mise en forme de vos projets.</p>

<p>N'hésitez plus, contactez moi (lien) pour toute information, pour connaitre mes tarifs et le fonctionnement de la fabrique de jardins.</p>

{% endblock %}