{% extends 'base.html.twig' %}

{% block content %}

    <section id="content">

        <div class="content-wrap nopadding">
            <div class="section notopborder nomargin">
                <div class="container clearfix">
                    <div class="col_two_fifth topmargin-sm nobottommargin" style="min-height: 350px">
                        <img src="{{ asset('media/logo4.gif') }}" alt="" />
                    </div>

                    <div class="col_three_fifth nobottommargin col_last">
                        <div class="heading-block topmargin-sm">
                            <h2>VALORISEZ VOS PROJETS ET DÉCROCHEZ DE NOUVEAUX CONTRATS</h2>
                            <span>Des études paysagères complètes pour vos clients</span>
                        </div>

                        <p>Professionnels, vous n'avez pas toujours le temps et les moyens de proposer des études paysagères complètes à vos clients.</p>

                        <h3>ÉLARGISSEZ VOTRE OFFRE</h3>
                        <p>Je vous propose d'externaliser votre bureau d'études et vous permet d'offrir un service de qualité à votre clientèle.<br />
                            Je m'adapte à votre demande et conçoit selon vos besoins, un plan, une conception en 3D, une étude complète ou seulement la mise en forme de vos projets.</p>

                        <p>N'hésitez plus, contactez-moi pour toute information, pour connaître mes tarifs et le fonctionnement de la Fabrique de Jardins.</p>

                        <a href="{{ path('contact') }}" class="button button-3d button-large fright">Contactez moi</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}