{% extends 'base.html.twig' %}

{% block content %}

<h1>Tarifs 1ère année particuliers</h1>
<table>
    <tr>
        <td>Les forfaits de base</td>
        <td>Options</td>
        <td>Mise en forme 3D</td>
        <td>Dossier technique</td>
        <td>Choix entrerpise</td>
        <td>Guide d4entretien</td>
    </tr>
    <tr>
        <td>Massif de 0 à 25m²</td>
        <td>95 €</td>
        <td>27 €</td>
        <td>27 €</td>
        <td>41 €</td>
        <td>27 €</td>
    </tr>
    <tr>
        <td>Massif de 26 à 50m²</td>
        <td>190 €</td>
        <td>54 €</td>
        <td>54 €</td>
        <td>81 €</td>
        <td>54 €</td>
    </tr>
    <tr>
        <td>Terrasse, balcon de 0 à 25m²</td>
        <td>95 €</td>
        <td>27 €</td>
        <td>27 €</td>
        <td>41 €</td>
        <td>27 €</td>
    </tr>
    <tr>
        <td>Terrasse, balcon de 26 à 50m²</td>
        <td>190 €</td>
        <td>54 €</td>
        <td>54 €</td>
        <td>81 €</td>
        <td>54 €</td>
    </tr>
    <tr>
        <td>Potager de 0 à 25m²</td>
        <td>95 €</td>
        <td>27 €</td>
        <td>27 €</td>
        <td>41 €</td>
        <td>27 €</td>
    </tr>
    <tr>
        <td>Potager de 26 à 50m²</td>
        <td>190 €</td>
        <td>54 €</td>
        <td>54 €</td>
        <td>81 €</td>
        <td>54 €</td>
    </tr>
    <tr>
        <td>Jardin de ville de 51 à 250m²</td>
        <td>380 €</td>
        <td>109 €</td>
        <td>190 €</td>
        <td>244 €</td>
        <td>244 €</td>
    </tr>
    <tr>
        <td>Jardin de bourg de 251 à 500m²</td>
        <td>760 €</td>
        <td>217 €</td>
        <td>380 €</td>
        <td>244 €</td>
        <td>244 €</td>
    </tr>
    <tr>
        <td>Jardin de campagne de 501 à 800m²</td>
        <td>1140 €</td>
        <td>326 €</td>
        <td>570 €</td>
        <td>244 €</td>
        <td>244 €</td>
    </tr>
    <tr>
        <td>Surface supérieure à 800m²</td>
        <td>Nous contacter</td>
    </tr>
</table>
<table>
    <tr>
        <td>Option déplacement</td>
        <td>1 km</td>
        <td>0.98 €</td>
    </tr>
    <tr>
        <td>25 km</td>
        <td>24.43 €</td>
    </tr>
    <tr>
        <td>80 km</td>
        <td>78.19 €</td>
    </tr>
</table>

{% endblock %}